<a href="https://colab.research.google.com/github/prabhudc/DQ/blob/master/Predicting_the_stock_market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Stock Market

This project is to predict the stock prices of the S&P 500 Index. The prediction model will be built on historic data from 1950 until 2015.


The dataset has the following fields which would be use for model building

* Date -- The date of the record.
* Open -- The opening price of the day (when trading starts).
* High -- The highest trade price during the day.
* Low -- The lowest trade price during the day.
* Close -- The closing price for the day (when trading is finished).
* Volume -- The number of shares traded.
* Adj Close -- The daily closing price, adjusted retroactively to include any corporate actions. Read

## Libaries

In [150]:
# The standard
import pandas as pd
import numpy as np
import csv
from datetime import datetime

# Plotting
import matplotlib.pyplot as plt

# Metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error


# Models
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

In [212]:
# Import the data
data = pd.read_csv("/content/drive/My Drive/DataScience/files/sphist.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: float64(6), object(1)
memory usage: 907.4+ KB

## Data Cleaning

In [213]:
# Change the datatype of the field "Date" from object to Date
data['Date'] = pd.to_datetime(data['Date']).copy()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  datetime64[ns]
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.4 KB

In [214]:
# Sort the dataset by datetime
data.sort_values(by=['Date'],inplace=True,ignore_index=True)

## Feature Selection

In [215]:
df = data[['Date','Close']].rolling(window=5,min_periods=5,on='Date', closed='right').mean()
# df.set_index( df['Close'].index.values + 1,inplace=True)

data['avg_price_5'] = df.shift(periods=1)['Close']
data.head(10)

        Date       Open       High  ...     Volume  Adj Close  avg_price_5
0 1950-01-03  16.660000  16.660000  ...  1260000.0  16.660000          NaN
1 1950-01-04  16.850000  16.850000  ...  1890000.0  16.850000          NaN
2 1950-01-05  16.930000  16.930000  ...  2550000.0  16.930000          NaN
3 1950-01-06  16.980000  16.980000  ...  2010000.0  16.980000          NaN
4 1950-01-09  17.080000  17.080000  ...  2520000.0  17.080000          NaN
5 1950-01-10  17.030001  17.030001  ...  2160000.0  17.030001       16.900
6 1950-01-11  17.090000  17.090000  ...  2630000.0  17.090000       16.974
7 1950-01-12  16.760000  16.760000  ...  2970000.0  16.760000       17.022
8 1950-01-13  16.670000  16.670000  ...  3330000.0  16.670000       16.988
9 1950-01-16  16.719999  16.719999  ...  1460000.0  16.719999       16.926

[10 rows x 8 columns]

In [216]:
def create_feature(field,func, window):
  # Create rolling window
  df = data[['Date',field]].rolling(window=window,min_periods=window,on='Date', closed='right')

  # Apply summarization
  if func == 'mean':
    df = df.mean().copy()
  elif func == 'std':
    df = df.std().copy()  

  # Rest the index forward by 1
  # We want to predict the next day of the window
  df = df.shift(periods=1).copy()

  # Summarization values
  summary =  df[field].to_list()

  return  summary

In [226]:
# Mean, Closing Price
data['avg_price_5'] = create_feature('Close','mean',5)
data['avg_price_10'] = create_feature('Close','mean' ,10)
data['avg_price_30'] = create_feature('Close','mean',30)
data['avg_price_365'] = create_feature('Close','mean',365)
# Mean, Volume
data['avg_vol_5'] = create_feature('Volume','mean',5)
data['avg_vol_10'] = create_feature('Volume','mean' ,10)
data['avg_vol_30'] = create_feature('Volume','mean',30)
data['avg_vol_365'] = create_feature('Volume','mean',365)

# Standard Deviation, Closing Prices
data['std_price_5'] = create_feature('Close','std',5)
data['std_price_10'] = create_feature('Close','std' ,10)
data['std_price_30'] = create_feature('Close','std',30)
data['std_price_365'] = create_feature('Close','std',365)
# Standard Deviation, Volume
data['std_vol_5'] = create_feature('Volume','std',5)
data['std_vol_10'] = create_feature('Volume','std' ,10)
data['std_vol_30'] = create_feature('Volume','std',30)
data['std_vol_365'] = create_feature('Volume','std',365)

# Ratio between mean volume last 5 days and mean volume last year
data['ratio_avg_vol_5_365'] = data['avg_vol_5']/data['avg_vol_365']

# Ratio between std volume last 5 days and std volume last year
data['ratio_std_vol_5_365'] = data['std_vol_5']/data['std_vol_365']

# Component of date
data['year'] = data['Date'].dt.year
data['day_of_week'] = data['Date'].dt.weekday
data['month'] = data['Date'].dt.month



# Print data
data.head(10)

          Date       Open       High  ...  year  day_of_week  month
365 1951-06-19  22.020000  22.020000  ...  1951            1      6
366 1951-06-20  21.910000  21.910000  ...  1951            2      6
367 1951-06-21  21.780001  21.780001  ...  1951            3      6
368 1951-06-22  21.549999  21.549999  ...  1951            4      6
369 1951-06-25  21.290001  21.290001  ...  1951            0      6
370 1951-06-26  21.299999  21.299999  ...  1951            1      6
371 1951-06-27  21.370001  21.370001  ...  1951            2      6
372 1951-06-28  21.100000  21.100000  ...  1951            3      6
373 1951-06-29  20.959999  20.959999  ...  1951            4      6
374 1951-07-02  21.100000  21.100000  ...  1951            0      7

[10 rows x 28 columns]

Drop the null values

In [227]:
data.dropna(inplace=True)
data

            Date         Open         High  ...  year  day_of_week  month
730   1952-12-05    25.620001    25.620001  ...  1952            4     12
731   1952-12-08    25.760000    25.760000  ...  1952            0     12
732   1952-12-09    25.930000    25.930000  ...  1952            1     12
733   1952-12-10    25.980000    25.980000  ...  1952            2     12
734   1952-12-11    25.959999    25.959999  ...  1952            3     12
...          ...          ...          ...  ...   ...          ...    ...
16585 2015-12-01  2082.929932  2103.370117  ...  2015            1     12
16586 2015-12-02  2101.709961  2104.270020  ...  2015            2     12
16587 2015-12-03  2080.709961  2085.000000  ...  2015            3     12
16588 2015-12-04  2051.239990  2093.840088  ...  2015            4     12
16589 2015-12-07  2090.419922  2090.419922  ...  2015            0     12

[15860 rows x 28 columns]

### Model Building

In [228]:
train = data[data['Date'] < datetime(year=2013,month=1,day=1)]
test =  data[data['Date'] >= datetime(year=2013,month=1,day=1)]

# Drop the unnecessary columns
train.drop(columns=['Date','Open','High','Low','Volume','Adj Close'],inplace=True)
test.drop(columns=['Date','Open','High','Low','Volume','Adj Close'],inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [229]:
print('Training dataset dimensions', train.shape)
print('Test dataset dimensions', test.shape)

Training dataset dimensions (15121, 22)
Test dataset dimensions (739, 22)

In [230]:
# Set-up X and y for model execution
train_X = train[[col for col in train.columns if col != 'Close']]
train_y = train['Close']

test_X = test[[col for col in test.columns if col != 'Close']]
test_y = test['Close']

In [231]:
linear_model = LinearRegression()
linear_model.fit(X=train_X, y=train_y)
y_pred = linear_model.predict(test_X)
mse = mean_squared_error(y_true=test_y, y_pred=y_pred)
mae = mean_absolute_error(y_true = test_y, y_pred=y_pred)
print("Model RMSE = ", np.sqrt(mse))
print("Model MAE = ", mae)

# Run 1 with only CLosing Prices  : 21, 15
# Run 2 with including Volume : 21, 15
# Run 3 including ratio avg vol of last 5 over 365 : 21, 15

Model RMSE =  21.964538507418034
Model MAE =  15.676871106099968